.logo {
  width: 10rem;
  height: 10rem;
  position: absolute;
  right: 42%;
  bottom: 80%;
}

form {
  padding: 1.5rem;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

}

input {
  display: block;
  margin: 0.5rem auto;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: rgb(78, 99, 118);
  color: white;
  width: 90%;
  border: none;
  height: 2.5rem;
  font-weight: bold;

}

button {
  display: block;
  margin: 1rem auto;
  cursor: pointer;
  padding: 0.6rem;
  border-radius: 10px;
  background-color: rgb(78, 99, 118);
  color: white;
  width: 50%;
  border: none;
  font-weight: bold;
}

input[type="email"]::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #ffffff;
}
